@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  background-color: rgb(231, 218, 218);
}

.sound-dropdown {
  position: fixed;
  top: 1vh;
  width: 12vw;
  left: 23vw;
}

.modeify-page-logo {
  position: fixed;
  top: 0vh;
  left: 42vw;
  width: 12vw;
}

.piano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15vh;
  z-index: 100;
}

.black-key-row {
  display: flex;
  width: 97vw;
  height: 150px;
}
.white-key-row {
  display: flex;
  padding-top: 10px;
  width: 100vw;
  height: 190px;
  margin-top: -170px;
}

.black-key {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: 3.6vw;
  height: 100%;
  background-color: black;
  border: 1px solid black;
  z-index: 10;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.black-key-blank {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: 3.3vw;
  height: 100%;
  z-index: -10;
}

.white-key {
  width: 5vw;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  z-index: -10;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 3px 0px 3px black;
  cursor: pointer;
  z-index: 0;
}

.mode-section {
  font-family: "Fjalla One", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 20px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.above-keys {
  display: flex;
  position: fixed;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1000;
}

.space {
  width: 30vw;
}

.current-mode {
  margin-left: 10px;
}

.current-chord-div {
  position: fixed;
  left: 23vw;
}

.current-chord-button {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  border-radius: 50%;
  width: 150px;
  box-shadow: 0 0.5px 0.5px 0.5px rgb(175, 107, 107);
}

.pause-chord-button {
  z-index: 100;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  position: absolute;
  /* left: 40px;
  top: 80px; */
  border-radius: 50%;
  width: 150px;
  height: 30px;
  box-shadow: 0 0.5px 0.5px 0.5px rgb(175, 107, 107);
  background-color: transparent;
}

.pause-chord-button:hover {
  cursor: pointer;
}

.instructions1 {
  font-family: "Noto Sans KR", sans-serif;
  position: fixed;
  top: 10vh;
  left: 55vw;
}

.instructions3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  position: fixed;
  top: 4vh;
  margin: auto;
}

.current-chord {
  display: flex;
  flex-direction: row;
  display: flex;
  position: fixed;
  top: 7px;
}

.current-note {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  /* top: 10px; */
  padding: 1rem;
  height: 10px;
  margin-top: 50px;
}

.clear-save-buttons {
  position: fixed;
  top: 1vh;
  left: 39vw;
}

.chord-playground {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  top: 350px;
  width: 90vw;
  justify-content: center;
}

.chord-name {
  color: rgb(55, 139, 55);
  font-size: 100px;
  font-weight: bolder;
  position: fixed;
  top: -7vh;
  right: 25vw;
  /* padding-right: 10px;
  margin-bottom: 10px; */
}

.explore {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  margin-bottom: 25px;
  margin-left: 30px;
}

.key-title {
  padding: 2rem;
  font-size: 25px;
}

.magic-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.magic-dropdowns {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.render-chords {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chord-card {
  background-color: rgb(236, 223, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 12vh;
  margin: 0.8vw;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 2px 1px 1px rgb(192, 192, 192);
}

/* .chord-card:hover {
  cursor: grab;
}
.chord-card:active {
  cursor: grabbing;
} */

.chord-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10vh;
  justify-content: center;
  align-items: center;
}

.chordsection {
  display: inline-block;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 1000;
  margin-top: 10px;
}

.card-notes {
  font-size: 15px;
  margin-top: 0px;
}

.play-button {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 1000;
  padding: 7px;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(126, 31, 31, 0.6);
  color: rgb(126, 31, 31, 0.6);
}

.dropzone-title {
  font-family: "Montserrat", sans-serif;
  color: rgb(116, 0, 0);
  font-size: 30px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.dropzone {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  bottom: 0.5vh;
  width: 95vw;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 20px;
  box-shadow: 0 1px 1px 1px rgb(44, 44, 44);
}

.button {
  padding: 2rem;
  background-color: transparent;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.add-chord-button {
  margin: auto;
  margin-left: 1rem;
  margin-bottom: 0.7rem;
  padding: 7px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  border: 1px solid rgb(126, 31, 31, 0.6);
  color: rgb(126, 31, 31, 0.6);
}

.scale-notes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}

.scale-note {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 25px;
  height: 30px;
  width: 30px;
  background-color: rgb(236, 223, 223);
  border-radius: 10px;
  margin: 0.1rem;
  padding: 0.7rem;
  box-shadow: 0 2px 1px 1px rgb(192, 192, 192);
}
.selected-scale-note {
  font-family: "Fjalla One", sans-serif;
  font-size: 25px;
  margin: 2rem;
}

.selected-scale-note:hover {
  cursor: pointer;
}

.scale-note:hover {
  cursor: pointer;
}

.chord-suggestions {
  display: flex;
  flex-flow: row wrap;
}
.m-chord-suggestions {
  display: flex;
  width: 97vw;
  /* flex-flow: row wrap; */
}

.save-progression-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 20px;
  font-weight: 600;
  margin-left: 1rem;
  margin-top: -5rem;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(126, 31, 31, 0.6);
  color: rgb(126, 31, 31, 0.6);
  background-color: rgb(230, 207, 207, 0.5);
}

.key-name {
  position: relative;
  font-weight: 100;
  /* margin-top: 2px; */
}

.directions {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 39vw;
  width: 20vw;
  font-size: 1.7vh;
  font-weight: bolder;
  color: rgb(126, 31, 31, 0.6);
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgb(126, 31, 31, 0.6);
  padding: 1vh;
  border-radius: 10px;
}
