@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Fjalla+One&display=swap");
body {
  background-color: rgb(238, 238, 238);
}

.header {
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  box-shadow: 0 3px 3px 3px #611212;
}

.header-logo {
  margin-left: 10rem;
  font-size: 6vh;
  color: rgb(161, 19, 19);
  text-decoration: none;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(54, 38, 38);
  animation: glow 3s infinite;
}

.logo-list {
  position: absolute;
  top: 80px;
  left: 170px;
  transform: translate(-50%, -50%) skewY(-8deg);
  display: flex;
  margin: 0;
  padding: 0;
  background: rgb(145, 8, 8);
  box-shadow: 0 0 0 10px rgb(236, 236, 236);
  overflow: hidden;
}

@keyframes glow {
  0% {
    color: rgb(161, 19, 19);
  }
  50% {
    color: gray;
  }
  100% {
    color: rgb(161, 19, 19);
  }
}

.logo-letter {
  font-family: "Fjalla One", sans-serif;
  display: block;
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0 5px;
  font-size: 0.8em;
  animation: animate-logo 5s linear infinite;
}

@keyframes animate-logo {
  0% {
    transform: translateY(-100px) rotateY(0deg);
  }
  20% {
    transform: translateY(10px) rotateY(360deg);
  }
  40% {
    transform: translateY(-10px) rotateY(360deg);
  }
  50% {
    transform: translateY(10px) rotateY(360deg);
  }
  60% {
    transform: translateY(-10px) rotateY(360deg);
  }
  70% {
    transform: translateY(10px) rotateY(360deg);
  }
  80% {
    transform: translateY(0px) rotateY(450deg);
  }
  100% {
    transform: translateY(100px) rotateY(720deg);
  }
}

.logo-letter:nth-child(1) {
  animation-delay: 0.1s;
}
.logo-letter:nth-child(2) {
  animation-delay: 0.2s;
}
.logo-letter:nth-child(3) {
  animation-delay: 0.3s;
}
.logo-letter:nth-child(4) {
  animation-delay: 0.4s;
}
.logo-letter:nth-child(5) {
  animation-delay: 0.5s;
}
.logo-letter:nth-child(6) {
  animation-delay: 0.6s;
}
.logo-letter:nth-child(7) {
  animation-delay: 0.7s;
}
.logo-letter:nth-child(8) {
  animation-delay: 0.8s;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: default;
}

a:active {
  text-decoration: none;
}

img:hover {
  cursor: pointer;
}

.links {
  color: #611212;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.logo:hover {
  cursor: pointer;
}

.header-link:hover {
  cursor: pointer;
}

.header-link {
  color: #801818;
  padding: 1rem;
  margin: 2rem;
}

.logo {
  position: relative;
  top: 5px;
  height: 17vh;
}

.footer {
  background-color: rgb(116, 0, 0);
  height: 4vh;
  width: 100vw;
  position: absolute;
  top: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.footer-link {
  color: white;
  padding: 1rem;
  margin: 2rem;
}

.footer-link:hover {
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-logo {
  margin: 1rem;
  background-color: white;
  position: relative;
  width: 20vw;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lyricize-logo {
  margin: 1rem;
  background-color: white;
  position: relative;
  width: 20vw;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modeify-logo {
  margin: 1rem;
  margin-top: 20px;
  background-color: white;
  position: relative;
  width: 20vw;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.riffly-logo {
  margin: 1rem;
  margin-top: 20px;
  background-color: white;
  position: relative;
  width: 20vw;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setly-logo {
  margin: 1rem;
  background-color: white;
  position: relative;
  width: 20vw;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-page {
  font-family: "Fjalla One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  height: 30vh;
  border-radius: 30px;
}

.profile-photo:hover {
  cursor: default;
}
.logo-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-card:hover {
  animation: hovered 0.4s ease-in-out;
}

@keyframes hovered {
  0% {
    width: 20vw;
  }
  50% {
    width: 21vw;
  }
  100% {
    width: 20vw;
  }
}
